
/*body {background-color: #5c5cd6}*/
body {background-image: url("immagini/santambrogio.jpg"); }

h1 {text-align: center; background: rgba(255, 215, 0, 0.5); border: 5px; border-radius:20px; width:1250px; height: :150px; }
 

 h2 {background: rgba(0, 0, 0, 0.5);}

  .indice {background: rgba(0, 0, 0, 0.5); font-family: alatsi ; height: 180px ; color: white;}
  /*inserire il nome alatsi anche nel foglio html e salvare entrambi fogli x vedere modifiche*/

  .introduzione {background: rgba(0, 0, 0, 0.6); width:1200px; color:white;}

  h1, h2, .introduzione {padding:10px};

  .introduzione img  { margin-left:600px };

  blockquote {border-left:5px solid blue; 
  	padding: 10px; background: gray; 
  }

  a:link, a:visited  { color:white; text-decoration: none };


  a:over, a:active{ text-decoration: underline; color:black ; }
  /*questi elementi a sono dei link che permette la modifica di colore al passaggio del mouse di alcuni elementi o bottoni nel sito*/

  .introduzione a  { color:white}

  footer {background: rgba(0, 0, 0, 0.6); color:white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}
  </body>